{% extends "base.html" %}
{% load static %}
{% load profanity %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                {% if user.is_superuser and product.featured %}
                <div class="ribbon ribbon-top-left"><span>Featured</span></div>
                {% endif %}
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>                                                           
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    <!-- Heart button to add product to favourites -->
                    <p class="d-inline">Add to Favourites: </p>
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'favourite_product' product.id %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" value="{{ product.id }}" class="btn-like">
                            <i class="fas fa-heart"></i>
                        </button>
                        {% else %}
                        <button type="submit" value="{{ product.id }}" class="btn-like">
                            <i class="far fa-heart"></i>
                        </button>
                        {% endif %}
                    </form>
                    {% else %}
                    <!-- Button to trigger account required modal -->
                    <button type="button" class="btn btn-like" data-toggle="modal" data-target="#account-required-modal">
                        <i class="far fa-heart"></i>
                    </button>

                    <!-- Account required Modal -->
                    <div class="modal fade" id="account-required-modal" tabindex="-1" role="dialog"
                        aria-labelledby="account-required-modal-Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="account-required-modal-Label">Account Required</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Please create an account or sign in to use this feature.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark rounded-pill" data-dismiss="modal">Close</button>
                                    <a class="btn link-btn rounded-pill" href="{% url 'account_signup' %}">Register</a>
                                    <a class="btn link-btn rounded-pill" href="{% url 'account_login' %}">Sign In</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="mb-3">
                    <!-- Product Rating -->
                    <div class="product-rating d-inline">{% include 'products/includes/product-rating.html' %}</div>
                    <p class="ml-3 small d-inline">({{ review_count }})</p>
                    </div>
                    <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <form class="d-inline" action="{% url 'feature_product' product.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                <button type="submit" class="text-white bg-info btn-sm small border rounded-pill">{% if product.featured %}Unfeature{% else %}Feature{% endif %}</button>
                            </form>
                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>  
                    {% endif %}
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.has_sizes as size %}
                            {% if size %}
                                <div class="col-12">
                                    <p><strong>Size:</strong></p>
                                    <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                        <option value="xs">XS</option>
                                        <option value="s">S</option>
                                        <option value="m" selected>M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                    </select>
                                </div>
                            {% endif %}
                            {% with product.foot_sizes as foot %}
                            {% if foot %}
                                <div class="col-12">
                                    <p><strong>Size:</strong></p>
                                    <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                        <option value="4">4</option>
                                        <option value="5"selected>5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            {% endif %}

                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group input-group-{{ product.id }}">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col{% if s %}{% if 4 %}-12 mt-2{% endif %}{%endif%}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- Reviews -->
<div class="row mt-5 mb-2 mb-lg-3 px-4">
    <!-- Customer Reviews -->
    <section class="col-lg-6 ">
        {% if reviews %}
        <h4>{{ review_count }} Reviews for {{ product.name }}</h4>
        <hr>
        <div class="container">
            {% for review in reviews %}
                <div class="row">
                    <div class="col review-stars">
                        {% if review.rating == 5 %}
                            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                                class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i>
                            {% elif review.rating == 4 %}
                            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i
                                class="fa fa-solid fa-star"></i>
                            {% elif review.rating == 3 %}
                            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i>
                            {% elif review.rating == 2 %}
                            <i class="fa fa-solid fa-star"></i><i class="fa fa-solid fa-star"></i>
                            {% elif review.rating == 1 %}
                            <i class="fa fa-solid fa-star"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        {{ review.body }}
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col">
                       <p class="d-inline font-italic small text-muted">by {{ review.user }} &#8226; {{review.created_on}}</p>
                       <p class="d-inline small text-muted float-right">
                           {% if user.is_authenticated and user.id == review.user.user.id %}
                           <a href="{% url 'edit_review' review.id %}">edit</a> | 
                            <!-- Button triggering deletion warning modal -->
                            <button class="btn btn-sm p-0 review-delete-btn" data-toggle="modal" data-target="#review-modal-{{ review.id }}">delete</button>
                            <!-- Deletion warning Modal -->
                            <div class="modal fade" id="review-modal-{{ review.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-white" id="exampleModalLabel">Warning!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete your review? This act is irreversible.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-dark rounded-pill" data-dismiss="modal">Cancel</button>
                                            <a href="{% url 'delete_review' review.id %}" class="btn text-white bg-danger rounded-pill">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           {% endif %}
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        {% else %}
        <h4>This Product has no reviews</h4>
        <hr>
        {% endif %}
    </section>

    <!-- Add a review  -->
    <section class="col-lg-6 my-4 my-lg-0">
        <h4>Add Review</h4>
        <hr>
        {% if user.is_authenticated %}
            {% if reviewed %}
             <p>You have already reviewed this product.</p>
            {% else %}
                <form action="{% url 'product_detail' product.id %}" method="POST">
                    {% csrf_token %}
                    {% for field in form  %}
                        {% if field.name == "rating" %}
                            <p class="mb-0">{{ field.label }} *</p>
                            <br>
                            {% for radio in field %}
                                <label for="{{ radio.id_for_label }}">
                                    <i class="far fa-star star"></i>
                                </label>
                                <div class="radio-tag d-inline">{{ radio.tag }}</div>
                            {% endfor %}
                            <br>
                        {% else %}
                            {{ field.errors }}
                            <br>
                            {{ field | as_crispy_field }}
                        {% endif %}
                    {% endfor %}
                    <p class="small text-muted font-italic">* Required</p>
                    <button type="submit" class="btn link-btn rounded-pill border-black d-block mt-2">Add Review</button>
                </form>
            {% endif %}
        {% else %}
        <p>Please <a href="{% url 'account_login' %}">login</a> to leave a review.</p>
        {% endif %}
    </section>
</div>

{% endblock %}

{% block postloadjs %}
<script>
    const post = document.querySelector(".post");
    const stars = document.querySelector(".star-widget");
    stars.onclick = ()=>{
      stars.style.display = "none";
      post.style.display = "block";
      return false;
      }
</script>
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% include 'review/includes/fill-stars-script.html' %}
{% endblock %}